<ul class="nav nav-tabs nav-justified">
  <li role="presentation"  ui-sref-active="active"><a ui-sref="main">Home</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="topStars">Top Stars</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="favStars">Favorite Stars</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="uncensored">Last Uncensored</a></li>
  <li role="presentation" ui-sref-active="active" ><a ui-sref="cart">Cart</a></li>
</ul>

<br>