<button ng-click="fb.show()">Show</button>
<button ng-click="fb.add()">Add</button>

<pre>
	{{fb.result | json}}
</pre>


<!-- <br>
<br>
<input ng-model="fb.result.email" ng-change="fb.result.$save()" type="text" />
<br>
 Email: <input type="text" ng-model="fb.email">
  Password: <input type="text" ng-model="fb.password">

  <br><br>

  <button ng-click="fb.createUser()">Create User</button>

  <br><br>

  <button ng-click="fb.deleteUser()">Delete User</button>

  <p ng-if="fb.message">Message: <strong>{{ fb.message }}</strong></p>
  <p ng-if="fb.error">Error: <strong>{{ fb.error }}</strong></p>

  <br>
  <br>
  <br>
  <br>

 -->






<!-- 






  <button ng-click="fb.signIn()">Sign In Anonymously</button>

  <p ng-if="fb.firebaseUser">Signed in user: <strong>{{ fb.firebaseUser.uid }}</strong></p>
  <p ng-if="fb.error">Error: <strong>{{ fb.error }}</strong></p>
 -->